
@{
    ViewData["Title"] = "Contato";
}

<main role="main">
    <br />
    <br />
    <div class="container">
        <div class="row">
            
            <aside class="col-sm-6">
            
                <div id="code_payment">

                    <article class="card">
                        <div class="card-body p-5">
                            <p class="alert alert-success">Mensagem de sucesso!</p>

                            <form role="form" method="post" action="/Home/ContatoAcao">
                                <div class="form-group">
                                    <label for="nome">Nome</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                                        </div>
                                        <input type="text" id="nome" class="form-control" name="nome" placeholder=""
                                               required="">
                                    </div> <!-- input-group.// -->
                                </div> <!-- form-group.// -->

                                <div class="form-group">
                                    <label for="email">E-mail</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-at"></i></span>
                                        </div>
                                        <input type="email" class="form-control" name="email" placeholder="" id="email">
                                    </div> <!-- input-group.// -->
                                </div> <!-- form-group.// -->

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="texto"><span class="hidden-xs">Texto</span> </label>
                                            <div class="form-inline">
                                                <textarea class="form-control" name="texto" id="texto" style="width:100%"></textarea>

                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- row.// -->
                                <button class="subscribe btn btn-primary btn-block" type="submit"> Enviar </button>
                            </form>
                        </div> <!-- card-body.// -->
                    </article> <!-- card.// -->

                </div> <!-- code-wrap.// -->

            </aside>
        </div>
    </div>


</main>
